    <div class="bg-dark nav navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#barralateral" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mt-4" id="barralateral">

        <ul class="p-0 mt-4">
          <li class="nav-item mt-6">

            <div class="btn-group dropend">
              <button type="button" class="btn btn-dark dropdown-toggle"
                      data-bs-toggle="dropdown" aria-expanded="false">
                Recepção
                </button>
                <ul class="dropdown-menu">
                  <li class="p-2">Nova Requisição</li>
                  <li class="p-2">Requisições</li>
                  <li class="p-2">Pacientes</li>
                  <li class="p-2">Médicos</li>
                </ul>
              </div>

          </li>

          <li class="nav-item mt-3">

            <div class="btn-group dropend">
              <button type="button" class="btn btn-dark dropdown-toggle"
                      data-bs-toggle="dropdown" aria-expanded="false">
                Coleta
                </button>
                <ul class="dropdown-menu">
                  <li class="p-2">Registro de coleta</li>
                  <li class="p-2">Amostras</li>
                  <li class="p-2">Coletores</li>
                  <li class="p-2">Painel de coleta</li>
                </ul>
              </div>

          </li>
          <li class="nav-item mt-3">

            <div class="btn-group dropend">
              <button type="button" class="btn btn-dark dropdown-toggle"
                      data-bs-toggle="dropdown" aria-expanded="false">
                Triagem
                </button>
                <ul class="dropdown-menu">
                  <li class="p-2">Nova Requisição</li>
                  <li class="p-2">Requisições</li>
                  <li class="p-2">Pacientes</li>
                  <li class="p-2">Médicos</li>
                </ul>
              </div>

          </li>
          <li class="nav-item mt-3">

            <div class="btn-group dropend">
              <button type="button" class="btn btn-dark dropdown-toggle"
                      data-bs-toggle="dropdown" aria-expanded="false">
                Resultado
                </button>
                <ul class="dropdown-menu">
                  <li class="p-2">Nova Requisição</li>
                  <li class="p-2">Requisições</li>
                  <li class="p-2">Pacientes</li>
                  <li class="p-2">Médicos</li>
                </ul>
              </div>

          </li>
          <li class="nav-item mt-3">

            <div class="btn-group dropend">
              <button type="button" class="btn btn-dark dropdown-toggle"
                      data-bs-toggle="dropdown" aria-expanded="false">
                Aprovação
                </button>
                <ul class="dropdown-menu">
                  <li class="p-2">Nova Requisição</li>
                  <li class="p-2">Requisições</li>
                  <li class="p-2">Pacientes</li>
                  <li class="p-2">Médicos</li>
                </ul>
              </div>
          </li>
        </ul>
      </div>
    </div>
  </div>


