<div class="row mat-elevation-z8 mt-4 col-9">
  <table mat-table [dataSource]="dataSource">

  <div class="row col-1">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Ordem </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  </div>

  <div class="col-6">
    <ng-container matColumnDef="exame">
      <th mat-header-cell *matHeaderCellDef> Exame </th>
      <td mat-cell *matCellDef="let element"> {{element.exame}} </td>
    </ng-container>
  </div>

  <div class="col-3">
    <ng-container matColumnDef="ativarexame">
      <th mat-header-cell *matHeaderCellDef> Ativar Exame </th>

      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle name="ativarexame">
        </mat-slide-toggle></td>
    </ng-container>

  <div class="col-3">
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">{{element.status}}</td>
    </ng-container>

  </div>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </div>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
