<div class="">
  <form class= "example-container row container-fluid" fxShow.gt-xs>
        <div class="row">

        <div class="row col-xs-12 col-sm-12 col-md-4">
          <mat-form-field appearance="fill">
            <mat-label>Tipo de instrumento:</mat-label>
            <mat-select>
              <mat-option value="option">Architect</mat-option>
              <mat-option value="option">BS200</mat-option>
            </mat-select>
            <mat-hint align="end">Clique aqui caso precise cadastrar tipo de instrumento</mat-hint>
          </mat-form-field>
        </div>

        <div class="row col-md-5">
          <mat-form-field hintLabel="Max 25 caracteres" appearance="fill">
            <mat-label>Descrição:</mat-label>
            <input matInput #input maxlength="25" placeholder="Ex. BS-200, Architect">
          </mat-form-field>
        </div>

        <div class="row col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>Trace:</mat-label>
          <input matInput type="number" min="0">
        </mat-form-field>
        </div>

      </div>

      <div class="row mt-4">

        <div class="row col-md-3">
          <mat-form-field appearance="fill">
          <mat-label >Velocidade da comunicação:</mat-label>
          <mat-select>
            <mat-option value="option">Ainda não sei</mat-option>
            <mat-option value="option">9600</mat-option>
            <mat-option value="option">9000</mat-option>
          </mat-select>
          </mat-form-field>
        </div>

        <div class= "col-md-3 row">
          <mat-form-field appearance="fill">
            <mat-label>Data Bits:</mat-label>
            <input matInput type="number" min="0">
          </mat-form-field>
        </div>

        <div class= "col-md-3 row">
          <mat-form-field appearance="fill">
            <mat-label>Stop Bits:</mat-label>
            <input matInput type="number" min="0">
          </mat-form-field>
        </div>

        <div class="row col-md-3 me-2">
          <label class="fs-6 text">Qual a comunicação do instrumento?</label>
            <div class="mt-2">
              <mat-radio-group aria-label="Select an option" color="primary">
                <mat-radio-button value="1" class="me-4">Serial</mat-radio-button>
                <mat-radio-button value="2" class="me-4">TCP/IP</mat-radio-button>
                <mat-radio-button value="3" class="me-4">Arquivo</mat-radio-button>
              </mat-radio-group>
            </div>
        </div>

      </div>

      <div class="row mt-4">

        <div class="row col-md-4">
          <mat-slide-toggle color="primary">Controle de fluxo</mat-slide-toggle>
        </div>

        <div class="row col-md-4">
          <mat-slide-toggle color="primary">Paridade</mat-slide-toggle>
        </div>

        <div class="row col-md-4">
          <mat-slide-toggle color="primary">Iniciar Automaticamente</mat-slide-toggle>
        </div>

      </div>
  </form>
</div>
