<form class="row m-1 mt-3 p-1">

  <div class="row col-3 me-3">
    <label for="telefoneResidencialPaciente" class="form-label">Telefone:</label>
    <input type="text" id="telefoneResidencialPaciente" class="form-control ms-2"
           placeholder="Residencial" mask="(00)0000-0000">
  </div>
  <div class="row col-3 me-3">
    <label for="telefoneRecadosPaciente" class="form-label">Outro número:</label>
    <input type="text" id="telefoneRecadosPaciente" class="form-control ms-2"
           placeholder="Recados" mask="(00)0000-0000">
  </div>
  <div class="row col-3 me-3">
    <label for="telefoneCelularPaciente" class="form-label">Celular:</label>
    <input type="text" id="telefoneCelularPaciente" class="form-control ms-2"
          placeholder="Pessoal" mask="(00)00000-0000">
  </div>
  <div class="row col-2 me-3 mid text-center">

    <div class="form-check mt-5">
      <label for="telefoneCelularPaciente" class="form-label align-middle">Whats APP?</label>
      <input class="form-check-input align-middle" type="checkbox" value="" id="flexCheckDefault">
    </div>

  </div>
  </form>
