  <mat-card>

    <h2 class="col-12">
      {{paciente.nome}}
    </h2>
    <h3 color="primary">Dados pessoais:</h3>
    <div class="p-2 row col-12">
      <div class="col-3">
        Data de Nascimento: {{paciente.data_nascimento}}
      </div>
      <div class="col-2">
        RG: {{paciente.rg}}
      </div>
      <div class="col-2">
        CPF: {{paciente.cpf}}
      </div>
      <div class="col-2">
        Sexo: {{paciente.sexo}}
      </div>
      <div class="col-2">
        Cor: {{paciente.cor}}
      </div>
    </div>
    </mat-card>

    <mat-card>
      <h3>Endereço:</h3>
      <div class="p-2 row col-12">
        <div class="col-2">
          CEP: {{paciente.cep}}
        </div>
        <div class="col-3">
          Logradouro: {{paciente.logradouro}}
        </div>
        <div class="col-1">
          N°: {{paciente.numero}}
        </div>
        <div class="col-1">
          Cidade: {{paciente.localidade}}
        </div>
        <div class="col-1">
          UF: {{paciente.uf}}
        </div>
        <div class="col-1">
          Bairro: {{paciente.bairro}}
        </div>
        <div class="col-1">
          IBGE: {{paciente.ibge}}
        </div>
        <div class="col-1">
          Complemtento: {{paciente.complemento}}
        </div>
      </div>
    </mat-card>

    <mat-card>
      <h3>Contatos:</h3>
      <div class="p-2 row">
        <div class="col-2">
          Telefone: {{paciente.telefone}}
        </div>
        <div class="col-2">
          Celular: {{paciente.celular}}
        </div>
        <div class="col-4">
          E-mail: {{paciente.email}}
        </div>
        <div class="col-2">
          Observação: {{paciente.observacao}}
        </div>
      </div>
    </mat-card>

    <mat-card>
      <h3>Plano de Saude:</h3>
      <div class="p-2 row">
        <div class="col-2">
          Convênio: {{paciente.convenio}}
        </div>
        <div class="col-3">
          Titular: {{paciente.titular_conv}}
        </div>
        <div class="col-2">
          Carteirinha: {{paciente.carteirinha_conv}}
        </div>
        <div class="col-2">
          Validade: {{paciente.validade_conv}}
        </div>
        <div class="col-2">
          CNS: {{paciente.cns_conv}}
        </div>
        </div>
      </mat-card>
