<form class= "example-container p-2 row">
  <div class="row mt-5">

    <div class="row col-3">
      <mat-form-field appearance="fill">
        <mat-label>Tipo de instrumento:</mat-label>
        <mat-select>
          <mat-option value="option">Architect</mat-option>
          <mat-option value="option">BS200</mat-option>
        </mat-select>
        <mat-hint align="end">Clique aqui caso precise cadastrar tipo de instrumento</mat-hint>
      </mat-form-field>
    </div>

    <div class="row col-3">
      <mat-form-field hintLabel="Max 25 caracteres" appearance="fill">
        <mat-label>Descrição:</mat-label>
        <input matInput #input maxlength="25" placeholder="Ex. BS-200, Architect">
      </mat-form-field>
    </div>

    <div class="row col-1">
    <mat-form-field appearance="fill">
      <mat-label>Trace:</mat-label>
      <input matInput type="number" placeholder="Ex. 12" min="0">
    </mat-form-field>
    </div>

    <div class="row ms-2 col-3">
      <mat-slide-toggle>Iniciar Automaticamente</mat-slide-toggle>
    </div>

  </div>

  <div class="row mt-4">

    <div class="row col-3">
      <mat-form-field appearance="fill">
      <mat-label >Velocidade da comunicação:</mat-label>
      <mat-select>
        <mat-option value="option">Ainda não sei</mat-option>
        <mat-option value="option">9600</mat-option>
        <mat-option value="option">9000</mat-option>
      </mat-select>
      </mat-form-field>
    </div>

    <div class="col-2 row">
      <mat-form-field appearance="fill">
        <mat-label>Data Bits:</mat-label>
        <input matInput type="number" placeholder="Ex. 12" min="0">
      </mat-form-field>
    </div>

    <div class="col-2 row">
      <mat-form-field appearance="fill">
        <mat-label>Stop Bits:</mat-label>
        <input matInput type="number" placeholder="Ex. 12" min="0">
      </mat-form-field>
    </div>

    <div class="row ms-2 col-3">
      <mat-slide-toggle>Controle de fluxo</mat-slide-toggle>
    </div>

   </div>
   <div class="row mt-4">

    <div class="row col-3">
      <label class="fs-6 text">Qual a comunicação do instrumento?</label>
        <div>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1" class="me-4">Serial</mat-radio-button>
            <mat-radio-button value="2" class="me-4">TCP/IP</mat-radio-button>
            <mat-radio-button value="3" class="me-4">Arquivo</mat-radio-button>
          </mat-radio-group>
        </div>
    </div>
    <div class="row col-3">
      <mat-slide-toggle>Paridade</mat-slide-toggle>
    </div>
   </div>
 </form>
