$c-sistema: (
    50 : #edf1f8,
    100 : #d3dcec,
    200 : #b6c5e0,
    300 : #98add4,
    400 : #829cca,
    500 : #6c8ac1,
    600 : #6482bb,
    700 : #5977b3,
    800 : #4f6dab,
    900 : #3d5a9e,
    A100 : #eff3ff,
    A200 : #bccfff,
    A400 : #89abff,
    A700 : #6f99ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// TODO: #11 Paleta nao deveria ser global?