<p>
  <mat-toolbar color="primary">
    <img src="/assets/LabMasterCloud2 .png" alt="..." height="80">


    <nav class="navbar navbar-expand-lg navbar-white ms-5">

      <div class="container-fluid">

        <a class="navbar-brand text-white" href="#">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="#">Manuais</a>
            </li>

            <li class="nav-item ms-3">
              <a class="nav-link text-white" href="#">Central de Compras</a>
            </li>

            <li class="nav-item ms-3">
              <a class="nav-link text-white" href="#">Pricing</a>
            </li>

            <li class="nav-item ms-3">
              <a class="nav-link text-white" href="#">Configurações</a>
            </li>

            <li class="nav-item dropdown ms-3">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                 role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ajuda
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Liberar exames</a></li>
                <li><a class="dropdown-item" href="#">Suporte</a></li>
              </ul>

            </li>
          </ul>

        </div>
      </div>
    </nav>

  </mat-toolbar>
</p>
